{% extends "header_nav.html" %}

{% block title %}
Login
{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" name="description" content="Pagina di login per affittaSI Ragusa" />
    <meta name="author" content="Nunzio" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/login.css') }}" />
{% endblock %}


{% block content %}
<div id="contenuto">
    <!--Creo una piccola spaziatura per il form-->
    <div class="spazia">
      <main class="log-user-body">
            <!--Testa del form, reindirizza all'iscrizione volendo-->
          <form action="{{ url_for('login_success') }}" method="POST" id="login_utente" enctype="multipart/form-data">
              <h3>LOGIN UTENTE</h3>
              <h5 class="testo-iscrizione">Non sei iscritto? <a href="{{ url_for("register", okay='00000') }}">Fallo Subito</a></h5>
                <!--Form composto da username/email e password, inoltre dò un feedback qual'ora l'utente sbagli il login
                piuttosto che reindirizzarlo alla pagina e basta, l'errore è gestito leggermente differente dalla pagina registrati
                Inoltre avendo solo due campi non ho inserito l'auto ripristino dei valori-->
              <section class="form-area border-0">
                  {% if errore == 0 %}
                      <div class="mb-3">
                          <label for="EMAIL" class="form-label">Email o Nome utente</label>
                          <input type="text" class="form-control" id="EMAIL" name="EMAIL" required minlength="8" maxlength="50" />
                      </div>
                  {% else %}
                      <div class="input-group has-validation mb-3">
                          <div class="form-floating is-invalid">
                              <div class="mb-3">
                                  <label for="EMAIL" class="form-label">Email o Nome utente</label>
                                  <input class="form-control form-control-sm is-invalid" type="text" id="EMAIL" name="EMAIL" minlength="8" maxlength="50" required/>
                              </div>
                          </div>
                          <div class="invalid-feedback">
                              Campo non valido
                          </div>
                      </div>
                  {% endif %}
            <!--Password-->
            {% if errore == 0 %}
                <div class="mb-3">
                    <label for="PASSWORD" class="form-label">Password</label>
                    <input class="form-control form-control-sm" type="password" id="PASSWORD" name="PASSWORD" minlength="8" maxlength="50" required/>
                </div>
                {% else %}
                <div class="input-group has-validation mb-3">
                    <div class="form-floating is-invalid">
                        <div class="mb-3">
                          <label for="PASSWORD" class="form-label">Password</label>
                          <input class="form-control form-control-sm is-invalid" type="password" id="PASSWORD" name="PASSWORD" minlength="8" maxlength="50" required/>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Campo password non valido
                    </div>
                </div>
                {% endif %}
              </section>
              <article class="modal-footer">
                  <button type="submit" class="btn btn-primary submit btn-success">Carica</button>
                  <button type="reset" class="btn btn-primary reset btn-danger">Cancella</button>
              </article>
          </form>
      </main>
    </div>
</div>
{% endblock %}