{% extends "base.html" %}
{% block title %}Registrati{% endblock %}
{% block signup_active %}active{% endblock %}

{% block content %}
    <a href="/">Torna indietro</a>
    <div class="col-4 offset-md-4 bg-light p-4 border rounded">
        <form action="/iscriviti" method="POST">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome">
            </div>
            <div class="mb-3">
                <label for="cognome" class="form-label">Cognome</label>
                <input type="text" class="form-control" name="cognome" id="cognome">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
                <div id="passwordHelp" class="form-text">We'll never share your password with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary">Registrati</button>
        </form>
    </div>
{% endblock %}