<!DOCTYPE html>
<html lang="it">

<!--Rappresenta il backbone di partenza per tutte le pagine-->
<head>
    <!--Definisco una porzione del titolo che ogni pagina integrerà-->
    <title>FitGyms - {% block title %} {% endblock %} </title>
    <!-- Riferimento al css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cssFiles/header_nav.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />  
    <!--aggiungo il blocco head per permetterne il completamento a ogni pagina -->
    {% block head %}
    {% endblock %}
</head>

<body>
     <header>
         <!--Aggiungo la navbar sopra la pagina-->
         <nav class="navbar navbar-expand-lg bg-body-tertiary">
             <div class="container-fluid bar">
                 <a class="navbar-brand logo" href="{{url_for('home')}}">
                     <img id="site-logo" src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="logo del sito FitGyms" />
                 </a>
                 <h1 class="title">FitGyms</h1>
                    {% if current_user.is_authenticated %}
                        <article class = "auth">
                            <h3 class="benvenuto">Benvenut* {{ utente['NOME'] }}</h3>
                            <a class="logout btn btn-primary " href="{{ url_for('logout') }}" role="button">Logout</a>
                            {% if utente.RUOLO %}
                                <a class="btn btn-primary logged" href="{{ url_for('profilo_allenatore', username=utente.ID, errore='00') }}" role="button">Profilo</a>
                            {% else %}
                                <a class="btn btn-primary logged" href="{{ url_for('profilo_cliente', username=utente.ID) }}" role="button">Profilo</a>
                            {% endif %}
                        </article>
                    {% else %}
                        <a id="not-logged" class="btn btn-primary" href="{{ url_for('login', errore=False) }}" role="button">Login</a>
                    {% endif %}
                </div>
            </nav>
    </header>

     <!--sarà sostituito dal contenuto delle altre pagine, come gli altri blocchi-->
    <div>
        {% block content %}
        {% endblock %}
    </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
     </script>

    </body>
</html>