{% extends "header_nav.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" name="description" content="Home di FitGyms" />
    <meta name="author" content="Martina" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cssFiles/home.css') }}" />
{% endblock %}


{% block content %}
<div id="Pagina">
    {% if utente.is_authenticated and utente.RUOLO %}
        <main id="esercizi">
            {% for esercizio in esercizi %}
                <article class="esercizio">
                    <h3 class="titolo">{{esercizio.TITOLO}}</h3>
                    {% if esercizio.DIFF == 0 %}
                        <h4 class="diff facile">Facile</h4>
                    {% elif esercizio.DIFF == 1 %}
                        <h4 class="diff medio">Medio</h4>
                    {% else %}
                        <h4 class="diff difficile">Difficile</h4>
                    {% endif %}
                    <em class="autore">Autore: {{esercizio.AUTORE}}</em>
                    <p class="desc">{{esercizio.DESC}}</p>
                </article>
            {% endfor %}
        </main>
    {% endif %}

    {% if not utente.is_authenticated %}
    <section class="non-auth">
        Devi essere autenticato per poter fruire del sito --> &nbsp;
        <a class="btn btn-primary" href="{{ url_for('login', errore=False)}}" role="button">Login</a>
    </section>
    {% endif %}
</div>
{% endblock %}