/*GESTISCO IL CONTENUTO PRINCIPALE*/
#contenuto{
    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows:1fr;
    background-color: #e2e2e2;
}

.form-head{
    margin-top:1vw;
    margin-left:1vw;
}

.annuncio-body{
    margin-top:9vw;
    grid-row: 1;
    grid-column: 2;
}

/*STILISTICA DEL FORM*/
.form-area{
    background-color: white;
    border-color:black;
    border-style:solid;
    border-width:0.1vw;
    margin-bottom:1vw;
}

.field-area{
    margin: 1vw 1vw 1vw 1vw;
}

/*STILISTICA DEI SINGOLI CAMPI DEL FORM*/
.address-data{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows:1fr;
}

.radios{
    grid-row:1;
    grid-column: 1;
}

.civ{
    grid-row:1;
    grid-column: 2;
}

.spaziami{
    margin-top:1vw;
}
/*STILISTICA DEL FOOTER/BOTTONI*/

.modal-footer{
    margin-right:1vw;
    margin-bottom:1vw;
}

.btn-danger, .btn-success{
    margin-right:0.5vw;
}

.btn-mio{
    background-color: #15008b;
    color:yellow;
}

.mb-3{
    z-index: 1;
}